/* Coolors Exported Palette - coolors.co/2e3e4e-374b5e-3e5468-41586e-45586e */

/* HSL */
$color1: hsla(210%, 26%, 24%, 1);
$color2: hsla(209%, 26%, 29%, 1);
$color3: hsla(209%, 25%, 33%, 1);
$color4: hsla(209%, 26%, 34%, 1);
$color5: hsla(212%, 23%, 35%, 1);

/* RGB */
$color1: rgba(46, 62, 78, 1);
$color2: rgba(55, 75, 94, 1);
$color3: rgba(62, 84, 104, 1);
$color4: rgba(65, 88, 110, 1);
$color5: rgba(69, 88, 110, 1);