/* Coolors Exported Palette - coolors.co/33cccc-ff3333-ffcc00-fbfef9-41586e */

/* HSL */
$color1: hsla(180%, 60%, 50%, 1);
$color2: hsla(0%, 100%, 60%, 1);
$color3: hsla(48%, 100%, 50%, 1);
$color4: hsla(96%, 71%, 99%, 1);
$color5: hsla(209%, 26%, 34%, 1);

/* RGB */
$color1: rgba(51, 204, 204, 1);
$color2: rgba(255, 51, 51, 1);
$color3: rgba(255, 204, 0, 1);
$color4: rgba(251, 254, 249, 1);
$color5: rgba(65, 88, 110, 1);